body {
	background-color: #333;
}

canvas {
	margin: 30px auto;
	box-shadow: 2px 2px 6px #2A2A2A;
}

#legend {
	font: 13px Arial, sans-serif;
	color: #BBB;
	text-align: center;
}

#legend a {
	color: #EEE;
}
